  .graph-top {
    background-color: #53767a;
    height: 10%;
    width: 100%;
    position: relative;
  }
  
  .graph-title {
    color: var(--text-color);
    text-align: center;
    font-size: 30px;
  }
  
  select {
    width: 100px;
    position: absolute;
    right: 20px;
    top: 10px;
  }